$main-color: #19c8fa;
$secondery-color: #2c4755;
$transparent-color: rgb(15, 116, 143, 50%);
$overlay-color: rgb(0, 0, 0, 0.7);
$facebook-color: #1877f2;
$youtube-color: red;
$twitter-color: #2aa9e0;

$suit-colors :#331D2C,#A78295,#867070,#41644A,#D14D72,#5C8984,#FF6666;